Django==5.2.6
djangorestframework==3.16.1
drf-spectacular==0.28.0
PyJWT==2.10.1
pyotp==2.9.0
qrcode==8.2
channels==4.3.1
channels-redis==4.3.0
daphne==4.2.1
celery==5.5.3
redis==6.4.0
psycopg2-binary==2.9.10
pillow==11.3.0
pillow-heif==1.1.0
openpyxl==3.1.5
requests==2.32.5
python-dotenv==1.1.1
tzdata==2025.2
gunicorn==23.0.0
uvicorn[standard]==0.35.0
google-auth==2.40.3
