{% load panel %}
<div class="p-pad stack-s">
  <div class="tier-card" data-p-tier style="min-height:150px"><div class="shine"></div>
    <div class="row-between"><div><div class="small" style="opacity:.8">Ваш уровень</div><div class="p-title" style="color:#fff" data-p-tier-name></div></div><span data-p-medal></span></div>
    <div class="progress"><i style="width:62%"></i></div>
  </div>
  <div class="p-sub" style="margin-top:6px">Привилегии уровня</div>
  <div class="p-card stack-s">
    <div class="p-feat"><span class="ic-bubble" data-p-icon></span><span><b data-p-l10n="title" data-p-empty="Название"></b><div class="p-sub" data-p-l10n="short"></div></span></div>
    <div class="p-sub" style="color:var(--ink)" data-p-l10n="description"></div>
  </div>
</div>
